body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 60% 10% 10%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: auto;
    
}